@model Pet_Clinic.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dId }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("View Appointmnets", "View_Appointments", new { id=Model.dId })
</p>
