@model IEnumerable<Pet_Clinic.Models.Appointments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.aNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.aNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.aNo })
        </td>
    </tr>
}

</table>
